/* ProductsList.css */

.product-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
  }
  
  .products-grid {
    display: flex;
    flex-wrap: wrap;
   
    padding: 20px;
    justify-content: center; /* This centers the list horizontally */
  }
  
  .products-grid > div {

    border-radius: 8px;
    padding: 20px;
    text-align: center;
    flex: 0 0 calc(15% - 20px); /* This makes the items take up 25% of the container width, minus the gap */
    box-sizing: border-box; /* Ensures padding and borders are included in the width */
  }

  @media (max-width: 1024px) {
    .products-grid > div {
      flex: 0 0 calc(33.33% - 20px); /* Adjust to 3 items per row on smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .products-grid > div {
      flex: 0 0 calc(50% - 20px); /* Adjust to 2 items per row on tablet screens */
    }
  }
  
  @media (max-width: 480px) {
    .products-grid > div {
      flex: 0 0 calc(100% - 20px); /* Adjust to 1 item per row on small screens */
    }
  }
  