.cart-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cart-empty {
  text-align: center;
  color: #888;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.cart-item-image {
  width: 75px;
  height: 110px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item-details {
  flex: 1;
  margin-left: 20px;
}

.cart-item-title {
  font-size: 18px;
  margin: 0;
}

.cart-item-price {
  color: #333;
  margin: 5px 0;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-item-quantity-btn {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ddd;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.cart-item-quantity-number {
  margin: 0 10px;
  font-size: 16px;
}

.cart-item-remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 24px;
}

.cart-summary {
  text-align: center;
  margin-top: 20px;
}

.checkout-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-btn:hover {
  background-color: #0056b3;
}
.original-price{
  text-decoration: line-through;
  color: gray;
  margin-right: 20px;
}
.discounted-price{
  color:red;
  font-weight: bold;
  font-size: 1.2rem;
}