/* Base styling for the footer */
.footer {
  width: 100%;
    background-color: #ABC4AA;
    padding: 20px 40px;
    height: 15vh;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo img {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .footer-logo p {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .footer-social a {
    color: #666;
    margin-right: 15px;
    font-size: 18px;
    transition: color 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #007bff;
  }
  
  .footer-links {
    display: flex;
  }
  
  .footer-column {
    margin-right: 40px;
  }
  
  .footer-column h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    text-decoration: none;
    color: #666;
    transition: color 0.3s ease;
  }
  
  .footer-column ul li a:hover {
    color: #007bff;
  }
  