.footer {
  margin-left: -10px;
  background-color: #ABC4AA;
  font-family: Arial, sans-serif;
  margin-bottom: -8px;
  width: 2028px;

}

.footer-container {
  display: flex;
  justify-content: space-around;
  height: 15%;
 
}

.footer-section {
  flex: 1;
  margin-left: 90px;
}

.footer-section h3 {
  font-size: 16px;
  /* margin-bottom: 10px; */
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #000;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 10px;
  color: #000;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.footer-links li {
  display: inline;
  margin-right: 15px;
}

.footer-links li a {
  text-decoration: none;
  color: #000;
}

.footer-links li a:hover {
  text-decoration: underline;
}
